.fixed {
  position: fixed;
  width: 200px;
  left: 80%;
  right: 30%;
}

.fixedMid {
  position: fixed;
  width: 200px;
  left: 80%;
  right: 30%;
  top: 45%;
}

.overflowing {
  overflow-y: auto;
  overflow-x: auto;
  text-overflow: ellipsis ellipsis;
  white-space: nowrap;
  max-height: 100px;
  font-size: 15px;
}

.colorHead {
  font-weight: bold;
  color: #CEAD94;
}

.bal {
  padding: 0.75rem !important;
  border: 2px solid #242020;
  background: rgba(72 176 226 / 10%);
  color: #c2ccd6;

  width: 320px;
  font-size: smaller;
}


.balMid {
  padding: 0.75rem !important;
  border: 2px solid #242020;
  background: rgba(72 176 226 / 10%);
  color: #c2ccd6;
  width: 320px;
  font-size: smaller;
}

.App {
  background-color: #181515;
  text-align: center;
  min-height: 100vh;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 3px;
}

.red {
  color: rgb(255, 111, 0);
}

.App-body {
  background-color: transparent;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #CEAD94;
}

.mar-bot {
  margin-bottom: 0.75rem;
}



/* Choose file button */
.button {
  border-radius: 4px;
  padding: 4px;
  width: 160px;
  height: 40px;
  border: 2px solid rgb(99, 67, 41);
  background: linear-gradient(120deg, #776441, #CEAD94 40%, #e5d7bc);
  transition: 2s;
  font-family: 'Orbitron', sans-serif;
  font-size: medium;
}

.button:hover {
  background-color: #c2ccd6;
  border: 2px solid #242020;
}



/* Styles from hasher website */

.bg-custom {
  background-color: #776441;
  background: #7a6845;
  background: linear-gradient(120deg, #776441, #CEAD94 40%, #e5d7bc)
}

.badge {
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 600;
  --bs-badge-color: #181515;
  --bs-badge-border-radius: 0.5rem;
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #CEAD94;
  background-color: rgba(72 176 226 / 10%);
  background-clip: padding-box;
  border: 2px solid #242020;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-check-msg {
  display: block;
  min-height: 0.75rem;
  padding-left: 0.75rem;
  margin-bottom: 0.125rem;
  text-align: center;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
  text-align: left;
}

/* Choose file button */
input[type="file"]::file-selector-button {
  border: 2px solid rgb(99, 67, 41);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background: linear-gradient(120deg, #776441, #CEAD94 40%, #e5d7bc);
  transition: 2s;
  font-family: 'Orbitron', sans-serif;
}

input[type="file"]::file-selector-button:hover {
  background-color: #c2ccd6;
  border: 2px solid #242020;
  font-family: 'Orbitron', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(72 176 226 / 10%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d1a1a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363434;
}


::-webkit-scrollbar-corner {
  background: #1d1a1a;
}